click==6.7
decorator==4.4.1
ffn==0.3.4
future==0.18.2
h5py==2.10.0
IBATS-Common==0.17.2
IBATS-Utils==1.2.8
lxml==4.4.2
Markdown==3.1.1
matplotlib==3.1.2
mysqlclient==1.4.6
numpy==1.18.1
pandas==0.25.3
pycrypto==2.6.1
pymacaroons==0.13.0
pyparsing==2.4.6
python-docx==0.8.10
redis==3.3.11
scikit-learn==0.22.1
scipy==1.4.1
TA-Lib==0.4.17
tensorflow==1.5.1
tensorflow-tensorboard==1.5.1
xlrd==1.2.0
